/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
*/
$dark:                            #212121 !default;
$body-color:                      #303030 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

ion-content {
    background-color: $body-color;
}
md-input-container,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused,
md-input-container:not(.md-input-invalid).md-input-focused,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized,
md-input-container:not(.md-input-invalid).md-input-resized,
md-input-container:not(.md-input-invalid).md-input-has-value,
md-input-container:not(.md-input-invalid).md-input-has-value{
    margin: 0;
    md-icon {
        color: white;
    }
    label {
        color: #ccc;
        font-size: 1.2em;
    }
    .md-input {
        border-bottom: 1px solid #ccc;
        color: #ccc;
    }
}
.item {
    line-height: 1.5em;
    background: #424242;
    border: 1px solid #333;
    color: white;
}

@import "www/views/login/login";
@import "www/views/signup/signup";
@import "www/views/reset_password/reset_password";
@import "www/views/main/main";
@import "www/views/buy/buy";
@import "www/views/order_list/order_list";
@import "www/views/order_add/order_add";
@import "www/views/profile/profile";
@import "www/views/user_rating/user_rating";
@import "www/views/recommend/recommend";
@import "www/views/menu/menu";
@import "www/views/news/news";
@import "www/views/news_details/news_details";

@import "www/core/blocks/directives/text-overflow/text-overflow.directive";

