.login {
    p.title {
        color: #ccc;
        padding: 15%;
        text-align: center;
        font-size: 1.8em;
    }

    form {
        padding: 0 20px;
        md-input-container,
        md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused,
        md-input-container:not(.md-input-invalid).md-input-focused,
        md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized,
        md-input-container:not(.md-input-invalid).md-input-resized,
        md-input-container:not(.md-input-invalid).md-input-has-value{
            margin: 0;
            md-icon {
                color: white;
            }
            label {
                color: #ccc;
                font-size: 1.2em;
            }
            .md-input {
                border-bottom: 1px solid #ccc;
                color: #ccc;
            }
        }
    }

    .link {
        text-align: center;
        a {
            padding: 0 5px;
            color: white;
            font-size: 1.2em;
        }
    }
}
