<ion-view class="login">
    <ion-content>
        <p class="title">
            Авторизація
        </p>
        <form name="loginForm">
            <md-input-container class="md-block" flex>
                <md-icon md-font-icon="fa fa-phone fa-2x" aria-hidden="true"></md-icon>
                <input
                    name="phone"
                    type="tel"
                    ng-model="vm.data.phone"
                    ui-mask-placeholder
                    ui-mask-placeholder-char="_"
                    ui-mask="+38 (999) 999 - 99 - 99"
                    placeholder="Номер телефону"
                    required>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <md-icon md-font-icon="fa fa-lock fa-2x" aria-hidden="true"></md-icon>
                <input ng-model="vm.data.password" type="password" placeholder="Пароль">
            </md-input-container>
        </form>
        <div layout="column" layout-margin>
            <md-button class="md-primary md-raised waves-effect waves-light"
                       md-colors="{background: 'grey-700'}"
                       ng-click="vm.login(loginForm)"
                       aria-label="true">
                Вхід
            </md-button>
        </div>
        <div class="link">
            <!--<a ng-click="vm.reset()">Забули пароль?</a>-->
            <a ng-click="vm.signup()">Зареєструватися</a>
        </div>
    </ion-content>
</ion-view>
