<ion-view class="buy" view-title="Купити">
    <ion-content>
        <div class="row" ng-repeat="item in vm.items">
            <div class="col">
                <div class="item" ng-init="item.trunced = true" ui-sref="app.order_list">
                    <i class="icon fa" ng-class="item.icon" aria-hidden="true"></i>
                    <h2>{{::item.name}}</h2>
                    <p ng-class="{'trunc':item.trunced}" ng-click="item.trunced = !item.trunced">
                        <span ng-repeat="hashtag in item.hashtags track by $index">
                            {{hashtag}}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
