<ion-view class="buy" view-title="Купити">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="item">
                    <i class="icon fa fa-shopping-cart" aria-hidden="true"></i>
                    <h2>Зернові</h2>
                    <p>#пшениця #просо #ячмінь #рис #пшениця #просо #ячмінь #рис #пшениця #просо #ячмінь #рис</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="item">
                    <i class="icon fa fa-shopping-cart" aria-hidden="true"></i>
                    <h2>Тваринництво</h2>
                    <p>#пшениця #просо #ячмінь #рис #пшениця #просо #ячмінь #рис</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="item">
                    <i class="icon fa fa-shopping-cart" aria-hidden="true"></i>
                    <h2>Корм для тварин</h2>
                    <p>#пшениця #просо #ячмінь #рис #пшениця #просо #ячмінь #рис </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
