<ion-view class="offer_add" view-title="Додати оголошення">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="item">
                    <div class="input">
                        {{vm.type=='buy'?'#куплю':'#продам'}} #{{vm.section.name | lowercase | replaceSpace:'_'}} #{{vm.tag.name | lowercase | replaceSpace:'_'}}
                    </div>
                    <div class="input">
                        <md-input-container class="md-block" flex md-no-float>
                            <textarea name="description"
                                      class="description"
                                      md-maxlength="350"
                                      ng-maxlength="450"
                                      rows="8"
                                      placeholder="Додати опис..."
                                      ng-model="vm.data.text"
                                      autocomplete="off"
                                      required> </textarea>
                        </md-input-container>
                    </div>
                    <div class="input">
                        <md-input-container class="md-block md-icon-float md-icon-left" md-no-float>
                            <md-icon md-font-icon="icon text-center fa fa-map-marker" aria-hidden="true"
                                     style="color: indianred; display:inline-block;"></md-icon>
                            <md-autocomplete md-no-cache="true"
                                             md-selected-item="vm.data.location"
                                             md-search-text-change="vm.search(vm.searchText)"
                                             md-search-text="vm.searchText"
                                             md-items="item in vm.search(vm.searchText)"
                                             md-item-text="item.description"
                                             md-min-length="0"
                                             md-clear-button="false"
                                             name="city"
                                             placeholder="Додати розташування">
                                <md-item-template>
                                    <span md-highlight-text="vm.searchText"
                                          md-highlight-flags="^i">{{item.description}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Не знайдено "{{vm.searchText}}".
                                </md-not-found>
                            </md-autocomplete>
                        </md-input-container>
                    </div>
                    <div class="input">
                        <div class="icon text-center"
                             ng-class="{'no-active': vm.data.attach.length >= 3}">
                            <i class="fa fa-camera"
                               ngf-multiple="true"
                               ngf-max-size="10MB"
                               ngf-max-files="{{3 - vm.data.attach.length}}"
                               ngf-select="vm.upload($files)"
                               accept="image/*"
                               ng-if="vm.data.attach.length < 3">

                            </i>
                            <i class="fa fa-camera"
                               ng-if="vm.data.attach.length >= 3">

                            </i>
                        </div>

                        <div ngf-multiple="true"
                             ngf-max-files="{{3 - vm.data.attach.length}}"
                             ngf-select="vm.upload($files)"
                             accept="image/*"
                             ngf-max-size="10MB"
                             class="photo-label"
                             ng-if="!vm.data.attach.length">
                            Завантажити фото
                        </div>
                        <div class="photo-label">
                            <div class="attach" ng-repeat="file in vm.data.attach">
                                <img ngf-thumbnail="file" />
                                <div class="remove" ng-click="vm.remove($index)">x</div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div layout="row" layout-margin>
                        <md-button class="md-primary md-raised waves-effect waves-light"
                                   md-colors="{background: 'grey-200'}"
                                   ng-click="vm.back()"
                                   flex>
                            Відмінити
                        </md-button>
                        <md-button class="md-primary md-raised waves-effect waves-light"
                                   md-colors="{background: 'grey-700'}"
                                   ng-click="vm.add()"
                                   flex>
                            Додати
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
