<ion-view class="offer_list" view-title="{{vm.type}}">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="header">
                    <div class="hashtags">
                        <span>
                            #{{vm.section | lowercase}}
                        </span>
                        <span ng-click="vm.tag = null">
                            {{vm.tag}}
                        </span>
                    </div>
                    <div class="more"
                         ng-init="hideAllTags = true"
                         ng-click="hideAllTags = !hideAllTags">
                        <i ng-show="hideAllTags">...</i>
                        <i ng-hide="hideAllTags" class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>

                    <div ng-hide="hideAllTags" class="all-tags">
                        <span ng-repeat="hashtag in ['#просо', '#жито', '#пшениця', '#сіно', '#юра']"
                              ng-click="(vm.tag == hashtag?vm.tag = null:vm.tag = hashtag)"
                              ng-class="{'no-active':vm.tag != hashtag}">
                            {{::hashtag}}
                        </span>
                    </div>

                    <div ng-show="$root.filter.city" class="all-tags">
                        {{$root.filter.city}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="item in vm.items">
            <div class="col">
                <div class="item">
                    <div class="avatar" ui-sref="app.user_rating">
                        <img src="img/cm_5Wvf1VuE.jpg"
                             alt="avatar"/>
                        <h2>{{::item.name}} {{::item.surname}}</h2>
                        <p class="hashtag">
                            <span ng-repeat="hashtag in item.hashtags track by $index" ng-click="$event.stopPropagation();">
                                {{::hashtag}}
                            </span>
                        </p>
                    </div>

                    <div class="info">
                        <p class="text">
                            {{::item.text}}
                        </p>

                        <div class="images" ng-if="item.images">
                            <img ng-src="{{link}}"
                                 ng-repeat="link in item.images track by $index"
                                 ng-click="vm.showImage(item.images)">
                        </div>

                        <p class="footer-info">
                            <span class="city">
                                {{::item.city}}
                            </span>
                            <span class="action">
                                <i class="fa fa-phone fa-lg" ng-click="vm.callUser(item.number)"></i>
                                <i class="fa fa-comments fa-lg" ui-sref="app.comments"></i>
                                <i class="fa fa-star fa-lg"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="add">
        <md-fab-speed-dial md-open="false" md-direction="left" class="md-scale">
            <md-fab-trigger>
                <md-button class=" md-icon-button md-fab waves-effect waves-light"
                           md-colors="{background: 'red-300'}"
                           aria-label="true"
                           ng-click="vm.modal.show()">

                    <md-icon md-font-icon="fa fa-plus fa-lg" aria-hidden="true"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <div>
                    <span class="menu-item" ng-click="vm.buy()">Купити</span>
                    <span class="menu-item" ng-click="vm.sell()">Продати</span>
                </div>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</ion-view>
