<ion-modal-view class="map-modal">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Map</h1>
        <div class="buttons">
            <div class="button button-icon button-clear fa fa-times"
                 style="color: #aaa"
                 ng-click="vm.closeModal()">
            </div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <h1 class="title">Map</h1>
    </ion-footer-bar>
</ion-modal-view>
