.order_list {
    ion-content {
        padding-bottom: 15px;
    }
    .header {
        color: white;
        border-bottom: 1px solid gray;
        padding: 8px 8px 8px 15px;
        .hashtags {
            float: left;
            font-size: 1.2em;
        }
        .more {
            float: right;
            font-size: 1.5em;
            font-weight: bold;
        }
        &:after {
            clear: both;
            content: "";
            display: table;
        }
    }
    .item {
        .avatar {
            width: 15%;
            display: inline-block;
            margin-right: 10px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
        .info {
            float: right;
            width: 80%;
            padding-top: 5px;
            h2 {
                font-size: 1.05em;
                font-weight: bold;
                color: white;
                margin-bottom: 5px;
            }

            .hashtag {
                font-size: 1em;
                color: #aaa;
            }

            .text {
                white-space: normal;
                color: white;
                font-size: 0.9em;
                text-align: justify;
                line-height: 1.3em;
            }

            .footer-info {
                display: block;
                font-size: 1em;
                color: #ccc;
                margin-top: 6px;
                .city {
                    float: left;
                }

                .action {
                    float: right;
                    i {
                        padding: 4px;
                    }
                }
            }
        }
    }

    .row:last-of-type {
        margin-bottom: 70px;
    }

    .add {
        position: fixed;
        right: 5px;
        bottom: 9px;
        .menu-item {
            display: block;
            background: gray;
            box-shadow: 0 0 10px 0 #333;
            padding: 5px 15px;
            margin: 5px;
            border-radius: 2px;
            color: white;
            font-size: 1.15em;
        }
    }
}

.map-modal {
    .scroll {
        height: 100%;
    }

    #map {
        width: 100%;
        height: 100%;
    }
}

.order-tags-popup {
    .popup-head {
        background: #424242;
        border-bottom: none;
        .popup-title {
            color: #FFFFFF;
        }
    }
    .popup-body {
        background: #757575;
        color: #FFFFFF;
        .tag {
            width: 44%;
            padding: 7px 1% 7px 3%;
            display: inline-block;
            font-size: 1.15em;
        }
    }
}

