<ion-view class="user_rating" view-title="Юлія Кириченко 2">
    <ion-content>
        <div class="info">
            <img src="img/cm_5Wvf1VuE.jpg"
                 alt="avatar"
                 class="avatar"/>
            <div class="name">
                Юлія Кириченко 2
            </div>
            <div class="stars">
                <i class="fa fa-star fa-lg fill" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg fill" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg fill" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg " aria-hidden="true"></i>
                <i class="fa fa-star fa-lg " aria-hidden="true"></i>
                <div class="count">172 голоса</div>
            </div>
            <div class="phone">
                Номер телефону: <span>0959999999</span>
            </div>
        </div>
        <span class="text">Відгуки про роботу</span>
        <div class="row">
            <div class="col">
                <div class="item" ng-repeat="i in [1,2,3,4,5]">
                    <div class="avatar">
                        <img src="img/cm_5Wvf1VuE.jpg"
                             alt="avatar"/>
                    </div>
                    <div class="info">
                        <div class="clearfix">
                            <h2 ui-sref="app.user_rating">Юлія Кириченко 2</h2>
                            <p class="stars">
                                <i class="fa fa-star fill" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium ad aut, cumque dolores et ipsum magnam
                            minima quam similique sit.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
