<ion-view class="user_rating" view-title="{{vm.user.name}} {{vm.user.surname}}">
    <ion-content>
        <div class="info">
            <img src="img/no-profile-image.png"
                 ng-src="{{::vm.user.photo}}"
                 alt="avatar"
                 class="avatar"/>
            <div class="name">
                {{::vm.user.name}} {{::vm.user.surname}}
            </div>
            <div class="stars">
                <i class="fa fa-star fa-lg"
                   ng-class="{'fill':i <= vm.midStars}"
                   ng-repeat="i in [1,2,3,4,5]"
                   aria-hidden="true">&nbsp;</i>
                <div class="count">{{vm.colStars}}</div>
            </div>
            <div class="phone">
                Номер телефону: <span>{{vm.user.username}}</span>
            </div>
        </div>
        <span class="text">Відгуки про роботу</span>
        <div class="row">
            <div class="col">
                <div class="item waves-effect waves-light"
                     ng-repeat="item in vm.items">
                    <div class="avatar">
                        <img src="img/no-profile-image.png"
                             ng-src="{{::item.photo}}"
                             alt="avatar"/>
                    </div>
                    <div class="info">
                        <div class="clearfix">
                            <h2>{{::item.name}} {{::item.surname}}</h2>
                            <p class="stars">
                                <i class="fa fa-star"
                                   ng-class="{'fill':i <= item.stars}"
                                   ng-repeat="i in [1,2,3,4,5]"
                                   aria-hidden="true">&nbsp;</i>
                            </p>
                        </div>
                        <trunc-text limit="100"
                                    more-text="Показати більше"
                                    text="item.text">
                        </trunc-text>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="add">
        <md-button class=" md-icon-button md-fab waves-effect waves-light"
                   md-colors="{background: 'red-300'}"
                   aria-label="true"
                   ng-click="vm.modal.show()">

            <md-icon md-font-icon="fa fa-pencil fa-lg" aria-hidden="true"></md-icon>
        </md-button>
    </div>
</ion-view>
