<ion-view class="user_rating" view-title="Юлія Кириченко 2">
    <ion-content>
        <div class="info">
            <img src="img/cm_5Wvf1VuE.jpg"
                 alt="avatar"
                 class="avatar"/>
            <div class="name">
                Юлія Кириченко 2
            </div>
            <div class="stars">
                <i class="fa fa-star fa-lg fill" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg fill" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg fill" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg " aria-hidden="true"></i>
                <i class="fa fa-star fa-lg " aria-hidden="true"></i>
                <div class="count">172 голоса</div>
            </div>
            <div class="phone">
                Номер телефону: <span>0959999999</span>
            </div>
        </div>
        <span class="text">Відгуки про роботу</span>
        <div class="row">
            <div class="col">
                <div class="item waves-effect waves-light" ng-repeat="item in vm.items" ng-init="limit = 100"
                     ng-click="(limit == 100?limit = 100000:limit = 100); item.trunced = !item.trunced">
                    <div class="avatar">
                        <img ng-src="{{item.avatar}}"
                             alt="avatar"/>
                    </div>
                    <div class="info">
                        <div class="clearfix">
                            <h2 ui-sref="app.user_rating">{{::item.name}} {{::item.surname}}</h2>
                            <p class="stars">
                                <i class="fa fa-star"
                                   ng-class="{'fill':i <= item.rating}"
                                   ng-click="vm.rating = i; $event.stopPropagation();"
                                   ng-repeat="i in [1,2,3,4,5]"
                                   aria-hidden="true">&nbsp;</i>
                            </p>
                        </div>
                        <p class="text" ng-init="item.trunced = false">
                            {{item.text | limitTo: limit}}
                            <span ng-show="item.text.length > limit && !item.trunced">...</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="add">
        <md-button class=" md-icon-button md-fab waves-effect waves-light"
                   md-colors="{background: 'red-300'}"
                   aria-label="true"
                   ng-click="vm.modal.show()">

            <md-icon md-font-icon="fa fa-pencil fa-lg" aria-hidden="true"></md-icon>
        </md-button>
    </div>
</ion-view>
