<ion-view class="comments" view-title="Коментарі">
    <ion-content>
        <div class="row" ng-repeat="item in vm.comments">
            <div class="col">
                <div class="item">
                    <div>
                        <img src="img/no-profile-image.png"
                             ng-src="{{::item.user.avatar}}"
                             alt="avatar"
                             class="avatar"/>
                        <h2>{{item.user.name}} {{item.user.surname}}</h2>
                        <p class="date">{{::item.createdAt | date : 'dd.MM.yyyy HH:mm:ss'}}</p>
                    </div>
                    <trunc-text limit="120"
                                more-text="Показати більше"
                                text="item.text">
                    </trunc-text>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="comment-field">
        <div class="row">
            <div class="avatar">
                <img src="img/no-profile-image.png"
                     ng-src="{{::$root.user.avatar}}"
                     alt="user">
            </div>
            <input ng-model="vm.user.comment" type="text" placeholder="Додати коментар">
            <md-button class="md-fab md-mini" ng-disabled="vm.user.comment == ''" ng-click="vm.addComment()">
                <md-icon md-font-icon="fa fa-check fa-lg" aria-hidden="true"></md-icon>
            </md-button>
        </div>
    </div>
</ion-view>
