.comments {
  @extend .recommend;

  ion-content {
    margin-bottom: 69px;
    background-color: #312f31;
  }

    .comment-field {
        position: fixed;
        bottom: 0;
        z-index: 999;
        width: 100%;
        border-top: 1px solid #515151;
        background-color: #312f31;
        .row {
            padding: 0;
            margin-bottom: -3px;
            .avatar {
                width: 68px;
                display: inline-block;
                margin: 10px 5px 3px 10px;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .md-button.md-fab.md-mini {
                margin: 0;
                width: 80px;
                height: 68px;
                border-radius: 0;
                background-color: #515151;
            }
            input {
                height: inherit;
                width: 83%;
                padding-right: 3px;
                background-color: #312f31;
            }
            input[placeholder] {
                color: #d2d0d2;
            }
        }
    }
}
