<ion-view class="services" view-title="Послуги">
    <ion-content>
        <div class="row" ng-repeat="item in vm.items" ng-cloak>
            <div class="col">
                <div class="item">
                    <div class="avatar" ui-sref="app.user_rating({ userId: item.user.objectId})">
                        <img src="img/no-profile-image.png"
                             ng-src="{{::item.author.avatar}}"
                             alt="avatar"/>
                        <h2>{{::item.author.name}} {{::item.author.surname}}</h2>
                        <p class="hashtag">
                            &nbsp;
                        </p>
                    </div>

                    <div class="info">
                        <p class="text">
                            {{::item.text}}
                        </p>

                        <div class="images" ng-if="item.images">
                            <img ng-src="{{image}}"
                                 ng-repeat="image in item.images track by $index"
                                 ng-click="vm.slide = $index; vm.showImage(item.images)">
                        </div>

                        <p class="footer-info">
                            <span class="city">
                                {{::item.address}}
                            </span>
                            <span class="action">
                                <i class="fa fa-phone fa-lg" ng-click="vm.callUser(item.author)"></i>
                                <i class="fa fa-comments fa-lg" ui-sref="app.comments({id: item.id, source:'Service'})"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="add">
        <md-button class=" md-icon-button md-fab waves-effect waves-light"
                   md-colors="{background: 'red-300'}"
                   aria-label="true"
                   ng-click="vm.add()">
            <md-icon md-font-icon="fa fa-plus fa-lg" aria-hidden="true"></md-icon>
        </md-button>
    </div>
</ion-view>
