<ion-view class="recommend" view-title="Пропозиції">
    <ion-content>
        <div class="row" ng-repeat="item in vm.items | orderBy:'$index':true" ng-cloak>
            <div class="col">
                <div class="item">
                    <div>
                        <img src="img/no-profile-image.png"
                             ng-src="{{::item.user.photo}}"
                             alt="avatar"
                             class="avatar" />
                        <h2>{{::item.user.username}} {{::item.user.surname}}</h2>
                        <p class="date">{{::item.createdAt | date : 'dd.MM.yyyy HH:mm:ss'}}</p>
                    </div>
                    <p class="text">
                        {{::item.text}}
                    </p>
                </div>
            </div>
        </div>

    </ion-content>
    <div class="add">
        <md-button class=" md-icon-button md-fab waves-effect waves-light"
                   md-colors="{background: 'red-300'}"
                   aria-label="true"
                   ng-click="vm.modal.show()">

            <md-icon md-font-icon="fa fa-plus fa-lg" aria-hidden="true"></md-icon>
        </md-button>
    </div>
</ion-view>
