<ion-view class="recommend" view-title="Пропозиції">
    <ion-content>
        <div class="row" ng-repeat="item in vm.items">
            <div class="col">
                <div class="item">
                    <img src="img/cm_5Wvf1VuE.jpg"
                         alt="avatar"
                         class="avatar" />
                    <h2>{{::item.name}} {{::item.surname}}</h2>
                    <p>
                        {{::item.text}}
                        <span class="date">{{::item.date}}</span>
                    </p>
                </div>
            </div>
        </div>

        <md-button class="add md-icon-button md-fab waves-effect waves-light"
                   md-colors="{background: 'red-300'}"
                   aria-label="true"
                   ng-click="vm.modal.show()">

            <md-icon md-font-icon="fa fa-pencil fa-lg" aria-hidden="true"></md-icon>
        </md-button>
    </ion-content>
</ion-view>
