<ion-view class="buy" view-title="{{vm.type=='buy'?'Купити':'Продати'}}">
    <ion-content>
        <div class="row" ng-repeat="item in vm.items">
            <div class="col">
                <div class="item" ng-init="item.trunced = true">
                    <div ui-sref="app.offer_list({type:vm.type, section:item})">
                        <h2>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            {{::item.name}}
                        </h2>
                    </div>
                    <div class="row">
                        <p ng-class="{'trunc':item.trunced}">
                            <span ng-repeat="subcategory in item.subcategories track by $index"
                                  ui-sref="app.offer_list({type:vm.type, section:item, tag: subcategory})">
                                #{{subcategory.name | lowercase}}
                            </span>
                        </p>
                        <div class="overflow" ng-show="item.trunced && item.hashtags.length > 4"
                             ng-click="item.trunced = !item.trunced">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
