<ion-view class="reset-password">
    <ion-content>
        <div class="pass-form">
            <p class="title">
                Зміна паролю
            </p>
            <div ng-if="!vm.isReset">
                <form name="pass" novalidate>
                    <md-input-container class="md-block" flex>
                        <md-icon md-font-icon="fa fa-phone fa-2x" aria-hidden="true"></md-icon>
                        <input name="phone"
                               type="tel"
                               ng-model="vm.data.phone"
                               ui-mask-placeholder
                               ui-mask-placeholder-char="_"
                               ui-mask="+38 (999) 999 - 99 - 99"
                               placeholder="Номер телефону"
                               required>
                    </md-input-container>
                </form>
                <div layout="column" layout-margin>
                    <md-button class="md-primary md-raised waves-effect waves-light"
                               md-colors="{background: 'grey-700'}"
                               ng-click="vm.recover()"
                               aria-label="true">
                        Надіслати новий пароль
                    </md-button>
                </div>
            </div>
            <div ng-if="vm.isReset">
                <div class="message">
                    На ваш номер телефону надіслано новий пароль.
                </div>
                <div layout="column" layout-margin>
                    <md-button class="md-primary md-raised waves-effect waves-light"
                               md-colors="{background: 'grey-700'}"
                               ng-click="vm.backToLogin()"
                               aria-label="true">
                        ОК
                    </md-button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
