<ion-view class="login">
    <ion-content>
        <div class="pass-form" ng-if="!vm.isReset">
            <p class="title">
                Зміна паролю
            </p>
            <form name="pass" novalidate>
                <md-input-container class="md-block" flex>
                    <md-icon md-font-icon="fa fa-envelope-o fa-2x" aria-hidden="true"></md-icon>
                    <input ng-model="vm.email" type="email" maxlength="11" placeholder="E-mail">
                </md-input-container>
            </form>
            <div layout="column" layout-margin>
                <md-button class="md-primary md-raised waves-effect waves-light"
                           md-colors="{background: 'grey-700'}"
                           ng-click="vm.recover()"
                           aria-label="true">
                    Надіслати новий пароль
                </md-button>
            </div>
        </div>
        <div ng-if="vm.isReset">
            <div class="message">
                На ваш e-mail надіслано новий пароль.
            </div>
            <div layout="column" layout-margin>
                <md-button class="md-primary md-raised waves-effect waves-light"
                           md-colors="{background: 'grey-700'}"
                           ng-click="vm.backToLogin()"
                           aria-label="true">
                    ОК
                </md-button>
            </div>
        </div>
    </ion-content>
</ion-view>