.main {
    color: white;
    .item {
        padding: 15px 10px;
        h2 {
            color: white;
            font-size: 1.35em;
            font-weight: bold;
        }
        .icon {
            font-size: 32px;
        }
        p {
            color: #ccc;
            white-space: normal;
        }
    }
}
