<ion-view class="news" view-title="Новини">
    <ion-content>
        <div class="card-news" ui-sref="app.news_details"
             ng-repeat="item in vm.list track by $index">
            <div class="card-img">
                <img src="{{item.img}}" alt="img">
            </div>
            <div class="card-title">
                <p>{{item.header}}</p>
            </div>
            <div class="card-text">
                <p>{{item.text}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>