.news {
  color: rgb(255, 255, 255);
  .card-news {
    margin: 8px 8px 10px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2),
                0 1px 1px 0 rgba(0, 0, 0, .14),
                0 2px 1px -1px rgba(0, 0, 0, .12);
    background-color: rgba(255, 255, 255, 0.05);
    .card-img {
      border-radius: 2px 2px 0 0;
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        border-radius: inherit;
      }
    }
    .card-title {
      margin: 15px 16px 0px;
      display: flex;
      -webkit-box-flex: 1;
      font-size: 1.2rem;
    }
    .card-text {
      padding: 0 16px 16px;
      p {
        text-align: justify;
        color: #878787;
        height: 80px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}